[Unit]
Description=Roda o dispatcher de campanhas agendadas periodicamente

[Timer]
OnBootSec=3min
OnUnitActiveSec=2min
RandomizedDelaySec=20
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
